src/main/resources/xsd/book.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://robert-programista.pl"
           xmlns="https://robert-programista.pl">
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="isbn" type="xs:string"/>
                <xs:element name="price" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>